body {
    background-color: #151a1b;
    max-width: 100%;
    
}
.Input__box {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.check__lbl {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.privacy_link {
    color: #fff;
}
.formlbl {
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.signin {
    text-align: center;
}

.error {
    background-color: #0b8f9b;

}
.back {
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: color .2s linear;
}
.back:hover {
    color: #0b8f9b;
}

.btnx {
    padding-top: 15px;
}
